<div class="posts">
    <mat-card class="post" *ngFor="let post of getPosts()">
        <div class="content">
            <h2>{{post.title}}</h2>
            <p>{{post.body}}</p>
        </div>
        <div class="buttons">
            <mat-icon>edit</mat-icon>
            <mat-icon (click)="openRemoveDialog(post.id)">remove_circle_outline</mat-icon>
        </div>
    </mat-card>
</div>
<div class="example-button-container" routerLink="/posts/new">
    <button mat-mini-fab color="primary" aria-label="Añadir post">
    <mat-icon>add</mat-icon>
  </button>
</div>
<!-- <table mat-table [dataSource]="getPosts()" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->