<div class="post-form-container">
    <!-- Template Driven Forms -->
    <form #postForm="ngForm" (ngSubmit)="submitPost(postForm)">
        <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput [(ngModel)]="post.title" name="title" required>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Contenido</mat-label>
            <textarea matInput [(ngModel)]="post.body" name="body"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!post['id']">Añadir post</button>
        <button mat-raised-button color="primary" type="submit" *ngIf="post['id']">Actualizar post</button>
    </form>
</div>