.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    min-height: 70vh;
    form {
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
}