/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #303030;
    color: white;
}

mat-icon {
    // color: #c2185b;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}